In [15]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
 
    
    query1 = """
        SELECT Facility_Name, Revenue
        FROM (

        SELECT f.name AS Facility_Name, SUM(
        CASE WHEN b.memid =0
        THEN (
        slots * guestcost
        )
        ELSE (
        slots * membercost
        )
        END ) AS Revenue
        FROM Bookings b
        JOIN Facilities f ON b.facid = f.facid
        JOIN Members m ON m.memid = b.memid
        GROUP BY facility_name
        )x
        WHERE Revenue <1000
        ORDER BY 2 DESC
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)      
        
    query2 = """
        SELECT 
        r.surname|| ','|| r.firstname AS Member,
         m.surname|| ','|| m.firstname AS RecommendedBy
        FROM
            Members r
        INNER JOIN Members m ON 
            r.recommendedby=m.memid 
        where m.memid<>0
        order by 1
        """
    cur.execute(query2)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)  
        
    query3 = """
    SELECT f.name AS Facility,  m.firstname|| ' '|| m.surname  AS Member, COUNT( starttime ) AS Count_usage
    FROM `Members` m
    JOIN Bookings b ON m.memid = b.memid
    JOIN Facilities f ON b.facid = f.facid
    WHERE m.memid <>0
    GROUP BY f.name,  m.firstname|| ' '|| m.surname 
    ORDER BY 1
        """
    cur.execute(query3)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
    query4 = """
        SELECT MONTH(starttime) || '-'|| YEAR(starttime) AS
        MONTH , f.name AS Facility, COUNT( starttime ) AS Count_usage
        FROM Members m
        JOIN Bookings b ON m.memid = b.memid
        JOIN Facilities f ON b.facid = f.facid
        WHERE m.memid <>0
        GROUP BY MONTH(starttime) || '-'|| YEAR(starttime) , f.name

        """
    cur.execute(query4)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
    
        
        
    


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)
('Bader,Florence', 'Stibbons,Ponder')
('Baker,Anne', 'Stibbons,Ponder')
('Baker,Timothy', 'Farrell,Jemima')
('Boothe,Tim', 'Rownam,Tim')
('Butters,Gerald', 'Smith,Darren')
('Coplin,Joan', 'Baker,Timothy')
('Crumpet,Erica', 'Smith,Tracy')
('Dare,Nancy', 'Joplette,Janice')
('Genting,Matthew', 'Butters,Gerald')
('Hunt,John', 'Purview,Millicent')
('Jones,David', 'Joplette,Janice')
('Jones,Douglas', 'Jones,David')
('Joplette,Janice', 'Smith,Darren')
('Mackenzie,Anna', 'Smith,Darren')
('Owen,Charles', 'Smith,Darren')
('Pinker,David', 'Farrell,Jemima')
('Purview,Millicent', 'Smith,Tracy')
('Rumney,Henrietta', 'Genting,Matthew')
('Sarwin,Ramnaresh', 'Bader,Florence')
('Smith,Jack', 'Smith,Darren')
('Stibbons,Ponder', 'Tracy,Burton')
('Worthington-Smyth,Henry', 'Smith,Tracy')
('Badminton Court', 'Anna Mackenzie', 30)
('Badminton Court', 'Anne Baker', 10)
('Badminton Court', 'Burton Tracy', 2)
('Badminton Court', 'Charles Owen', 6)
('Badminton Court', 'Darren Smith', 132)
('Badminton Court', 'David Jones', 8)
('Badminton Court', 'David Pinker', 7)
('Badminton Court', 'Douglas Jones', 2)
('Badminton Court', 'Erica Crumpet', 2)
('Badminton Court', 'Florence Bader', 9)
('Badminton Court', 'Gerald Butters', 20)
('Badminton Court', 'Henry Worthington-Smyth', 4)
('Badminton Court', 'Hyacinth Tupperware', 1)
('Badminton Court', 'Jack Smith', 12)
('Badminton Court', 'Jemima Farrell', 7)
('Badminton Court', 'John Hunt', 2)
('Badminton Court', 'Millicent Purview', 2)
('Badminton Court', 'Nancy Dare', 10)
('Badminton Court', 'Ponder Stibbons', 16)
('Badminton Court', 'Ramnaresh Sarwin', 7)
('Badminton Court', 'Tim Boothe', 12)
('Badminton Court', 'Tim Rownam', 4)
('Badminton Court', 'Timothy Baker', 7)
('Badminton Court', 'Tracy Smith', 32)
('Massage Room 1', 'Anna Mackenzie', 1)
('Massage Room 1', 'Anne Baker', 3)
('Massage Room 1', 'Burton Tracy', 31)
('Massage Room 1', 'Charles Owen', 11)
('Massage Room 1', 'Darren Smith', 28)
('Massage Room 1', 'David Jones', 19)
('Massage Room 1', 'David Pinker', 3)
('Massage Room 1', 'Erica Crumpet', 2)
('Massage Room 1', 'Gerald Butters', 32)
('Massage Room 1', 'Henry Worthington-Smyth', 1)
('Massage Room 1', 'Hyacinth Tupperware', 1)
('Massage Room 1', 'Jack Smith', 27)
('Massage Room 1', 'Janice Joplette', 12)
('Massage Room 1', 'Jemima Farrell', 29)
('Massage Room 1', 'Joan Coplin', 1)
('Massage Room 1', 'John Hunt', 3)
('Massage Room 1', 'Matthew Genting', 25)
('Massage Room 1', 'Nancy Dare', 19)
('Massage Room 1', 'Ponder Stibbons', 19)
('Massage Room 1', 'Ramnaresh Sarwin', 8)
('Massage Room 1', 'Tim Boothe', 36)
('Massage Room 1', 'Tim Rownam', 80)
('Massage Room 1', 'Timothy Baker', 24)
('Massage Room 1', 'Tracy Smith', 6)
('Massage Room 2', 'Anne Baker', 2)
('Massage Room 2', 'Charles Owen', 2)
('Massage Room 2', 'David Jones', 4)
('Massage Room 2', 'Florence Bader', 2)
('Massage Room 2', 'Gerald Butters', 1)
('Massage Room 2', 'Jack Smith', 1)
('Massage Room 2', 'Janice Joplette', 2)
('Massage Room 2', 'Joan Coplin', 2)
('Massage Room 2', 'Matthew Genting', 1)
('Massage Room 2', 'Nancy Dare', 5)
('Massage Room 2', 'Ramnaresh Sarwin', 3)
('Massage Room 2', 'Tim Rownam', 2)
('Pool Table', 'Anna Mackenzie', 70)
('Pool Table', 'Anne Baker', 12)
('Pool Table', 'Burton Tracy', 30)
('Pool Table', 'Charles Owen', 1)
('Pool Table', 'Darren Smith', 28)
('Pool Table', 'David Farrell', 25)
('Pool Table', 'David Jones', 8)
('Pool Table', 'David Pinker', 9)
('Pool Table', 'Douglas Jones', 2)
('Pool Table', 'Florence Bader', 23)
('Pool Table', 'Gerald Butters', 6)
('Pool Table', 'Henrietta Rumney', 3)
('Pool Table', 'Henry Worthington-Smyth', 33)
('Pool Table', 'Hyacinth Tupperware', 8)
('Pool Table', 'Jack Smith', 7)
('Pool Table', 'Janice Joplette', 27)
('Pool Table', 'Jemima Farrell', 1)
('Pool Table', 'Joan Coplin', 11)
('Pool Table', 'Matthew Genting', 18)
('Pool Table', 'Millicent Purview', 5)
('Pool Table', 'Nancy Dare', 19)
('Pool Table', 'Ponder Stibbons', 12)
('Pool Table', 'Ramnaresh Sarwin', 13)
('Pool Table', 'Tim Boothe', 25)
('Pool Table', 'Tim Rownam', 241)
('Pool Table', 'Timothy Baker', 85)
('Pool Table', 'Tracy Smith', 61)
('Snooker Table', 'Anna Mackenzie', 7)
('Snooker Table', 'Burton Tracy', 20)
('Snooker Table', 'Charles Owen', 22)
('Snooker Table', 'Darren Smith', 12)
('Snooker Table', 'David Farrell', 1)
('Snooker Table', 'David Jones', 2)
('Snooker Table', 'David Pinker', 16)
('Snooker Table', 'Florence Bader', 33)
('Snooker Table', 'Gerald Butters', 34)
('Snooker Table', 'Henrietta Rumney', 14)
('Snooker Table', 'Hyacinth Tupperware', 5)
('Snooker Table', 'Jack Smith', 5)
('Snooker Table', 'Janice Joplette', 68)
('Snooker Table', 'Jemima Farrell', 21)
('Snooker Table', 'Joan Coplin', 10)
('Snooker Table', 'Matthew Genting', 1)
('Snooker Table', 'Millicent Purview', 1)
('Snooker Table', 'Nancy Dare', 23)
('Snooker Table', 'Ponder Stibbons', 20)
('Snooker Table', 'Ramnaresh Sarwin', 18)
('Snooker Table', 'Tim Boothe', 43)
('Snooker Table', 'Tracy Smith', 45)
('Squash Court', 'Anna Mackenzie', 2)
('Squash Court', 'Anne Baker', 49)
('Squash Court', 'Burton Tracy', 35)
('Squash Court', 'Charles Owen', 7)
('Squash Court', 'Darren Smith', 14)
('Squash Court', 'David Farrell', 1)
('Squash Court', 'David Jones', 8)
('Squash Court', 'David Pinker', 3)
('Squash Court', 'Douglas Jones', 1)
('Squash Court', 'Florence Bader', 2)
('Squash Court', 'Gerald Butters', 9)
('Squash Court', 'Henrietta Rumney', 2)
('Squash Court', 'Hyacinth Tupperware', 1)
('Squash Court', 'Jack Smith', 9)
('Squash Court', 'Janice Joplette', 14)
('Squash Court', 'Jemima Farrell', 8)
('Squash Court', 'Joan Coplin', 1)
('Squash Court', 'John Hunt', 1)
('Squash Court', 'Millicent Purview', 1)
('Squash Court', 'Ponder Stibbons', 2)
('Squash Court', 'Ramnaresh Sarwin', 2)
('Squash Court', 'Tim Boothe', 12)
('Squash Court', 'Timothy Baker', 5)
('Squash Court', 'Tracy Smith', 6)
('Table Tennis', 'Anna Mackenzie', 16)
('Table Tennis', 'Anne Baker', 1)
('Table Tennis', 'Burton Tracy', 24)
('Table Tennis', 'Charles Owen', 24)
('Table Tennis', 'Darren Smith', 28)
('Table Tennis', 'David Jones', 11)
('Table Tennis', 'David Pinker', 17)
('Table Tennis', 'Erica Crumpet', 2)
('Table Tennis', 'Florence Bader', 42)
('Table Tennis', 'Gerald Butters', 1)
('Table Tennis', 'Henry Worthington-Smyth', 3)
('Table Tennis', 'Jack Smith', 5)
('Table Tennis', 'Janice Joplette', 9)
('Table Tennis', 'Jemima Farrell', 12)
('Table Tennis', 'Joan Coplin', 21)
('Table Tennis', 'John Hunt', 1)
('Table Tennis', 'Matthew Genting', 26)
('Table Tennis', 'Millicent Purview', 6)
('Table Tennis', 'Nancy Dare', 5)
('Table Tennis', 'Ponder Stibbons', 3)
('Table Tennis', 'Ramnaresh Sarwin', 3)
('Table Tennis', 'Tim Boothe', 4)
('Table Tennis', 'Tim Rownam', 69)
('Table Tennis', 'Timothy Baker', 24)
('Table Tennis', 'Tracy Smith', 28)
('Tennis Court 1', 'Anne Baker', 6)
('Tennis Court 1', 'Burton Tracy', 31)
('Tennis Court 1', 'Charles Owen', 17)
('Tennis Court 1', 'David Farrell', 6)
('Tennis Court 1', 'David Jones', 25)
('Tennis Court 1', 'David Pinker', 16)
('Tennis Court 1', 'Douglas Jones', 9)
('Tennis Court 1', 'Erica Crumpet', 1)
('Tennis Court 1', 'Florence Bader', 1)
('Tennis Court 1', 'Gerald Butters', 57)
('Tennis Court 1', 'Jack Smith', 22)
('Tennis Court 1', 'Janice Joplette', 19)
('Tennis Court 1', 'Jemima Farrell', 1)
('Tennis Court 1', 'Joan Coplin', 7)
('Tennis Court 1', 'John Hunt', 4)
('Tennis Court 1', 'Matthew Genting', 1)
('Tennis Court 1', 'Nancy Dare', 25)
('Tennis Court 1', 'Ponder Stibbons', 1)
('Tennis Court 1', 'Ramnaresh Sarwin', 5)
('Tennis Court 1', 'Tim Boothe', 4)
('Tennis Court 1', 'Tim Rownam', 6)
('Tennis Court 1', 'Timothy Baker', 14)
('Tennis Court 1', 'Tracy Smith', 30)
('Tennis Court 2', 'Anne Baker', 35)
('Tennis Court 2', 'Burton Tracy', 3)
('Tennis Court 2', 'Charles Owen', 41)
('Tennis Court 2', 'Darren Smith', 19)
('Tennis Court 2', 'David Farrell', 1)
('Tennis Court 2', 'David Jones', 30)
('Tennis Court 2', 'Florence Bader', 8)
('Tennis Court 2', 'Gerald Butters', 3)
('Tennis Court 2', 'Henrietta Rumney', 1)
('Tennis Court 2', 'Jack Smith', 1)
('Tennis Court 2', 'Janice Joplette', 8)
('Tennis Court 2', 'Jemima Farrell', 1)
('Tennis Court 2', 'John Hunt', 4)
('Tennis Court 2', 'Millicent Purview', 1)
('Tennis Court 2', 'Nancy Dare', 11)
('Tennis Court 2', 'Ponder Stibbons', 31)
('Tennis Court 2', 'Ramnaresh Sarwin', 11)
('Tennis Court 2', 'Tim Boothe', 52)
('Tennis Court 2', 'Tim Rownam', 6)
('Tennis Court 2', 'Timothy Baker', 7)
('Tennis Court 2', 'Tracy Smith', 2)

OperationalError: no such function: MONTH